@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Poppins&display=swap');

.__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.__card{
    width: 300px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 0 0 30px rgba(134, 133, 133, 0.2); 
}

.__card:hover{
    z-index: 15;
    box-shadow: 0 0 30px rgba(4, 4, 4, 0.2); 
}



.__brand__name{
    font-family: 'Lobster Two', cursive;
    font-size: 1.2rem;
    color: white;
    user-select: none;
    margin-top: 10px;
    color: orange;
}


.__card__image{
    margin-top: 0;
    height: 170px;
    background-repeat: no-repeat;
    background-position: 0;
    /* transform: scale(0.3); */
    background-size: cover;
}

.__card_img{
    width: 100%;
    height: 90%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

.__product__detail__{
    
    height: 150px;
    background-color: #3e3e3e;
    border-radius: 0 40% 10px 10px;
    padding: 0.8rem;
    color: #fff;
    font-family: Popins, sans-serif;
}

.__product__rating{
    font-size: 0.7rem;
    color: #fdc00d;
    user-select: none;

}

.__card__buttons{
    margin-top: 1px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__price{
    
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    user-select: none;
    text-decoration: none;
}

.__discount__box{
    margin-top: 1px;
}


.__original__price{
    font-size: 0.8rem;
    color: #fff;
    text-decoration: line-through;
    user-select: none;
    opacity: 0.7;
}

.__discount__percent{
    font-size: 0.9rem;
    color: #fff;
    user-select: none;
    opacity: 0.9;
    color: aquamarine;
    margin: 0 0.5rem;
}

.__btn__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.__btn{
    font-size: 22px;
    color: #f4cf63;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* .__view__button:hover{
    color: #fdc00d;

}

.__like__button:hover{
    color: #fdc00d;
} */

.__link{
    text-decoration: none;
    color: #fff;
}