.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 7vh;
    width: 100%;
    background-color: #282c34;
}

.row__menu{
    margin: 0 0 0 20px;
}


.row__menu__button{
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.row__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
}

.row__option__button{
    color: white;
    font-size: 20px;
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;

}

.row__option__button:hover{
    color: #fdc00d;
}

.small__text{
    font-size: 17px;
}