.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 27%;
    background-color: #e1dcdc;
    z-index: 200;
    overflow-y: scroll;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #282c34;
    color: white;
}

.sidebar__header button{
    font-size: 2rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.sidebar__header button:hover{
    color: rgb(229, 166, 50);
}

.sidebar__menu{
    padding: 0 1rem;
}

.sidebar__title{
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar__ul{
    list-style: none;
}

.sidebar__ul a{
    display: block;
    text-decoration: none;
    color: var(--clr-primary-5);
    font-size: 1.2rem;
    /* padding: 0.3rem 0; */
}



.sidebar__ul li{
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    gap: 2px;
}


.sidebar__ul a:hover{
    color: rgb(139, 123, 123);
    text-decoration: underline;
}

.sidebar__ul__brands{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.sidebar__ul__brands li a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}

.sidebar__ul__brands li a:hover{
    background-color: #3e3f40;
    color: white;
    text-decoration: none;
}


.sidebar__ul__price{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 100;
}



